body {
  overflow-x: hidden;
}
.sidebar {
  width: 55px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #6c544d;
  color: white;
  padding-top: 1rem;
}
.sidebar a {
  color: white;
  display: block;
  padding: 10px 12.5px;
  text-decoration: none;
}
.sidebar a:hover {
  background-color: #93746b;
}
.flipped-horizontal {
  transform: scaleX(-1);
}
.topbar {
  margin-left: 50px;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.custom-text-color-2 {
    color: #6c544d;
}
.content {
  margin-left: 250px;
  padding: 1rem;
  margin-top: 60px;
}
.logo {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 0px;
}
.form-section {
  margin-left: 50px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.custom-text-color {
  color: #a97b63; 
}
.label-title {
  font-weight: 600; 
}
.section-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.section-label .left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.section-label .icon-hide {
    background-color: #8B5E3C;
    color: white;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}
.table thead th {
  background-color: #f0e5df;     
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}

.button-container .btn {
  white-space: nowrap;
  padding: 5px 50px;
  border-radius : 2px;
  font-size: 0.85rem;
}

.custom-primary-button {
  background-color: #6c544d; 
  color: white;
  cursor: pointer;
}

.custom-primary-button:hover {
  background-color: #8B5E3C; 
}

.custom-secondary-button {
  border-color: #8B5E3C; 
  color: #8B5E3C; 
  cursor: pointer;
}

.custom-secondary-button:hover {
  background-color: #6c544d; 
  border-color: #d9c1b4; 
}

.label-box {
  background-color: #f4f4f4;
  padding: 8px 10px;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value-box {
  background-color: #ffffff;
  padding: 8px 10px;
  font-size: 0.85rem;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-tabs {
  display: flex;
  background-color: #e4e4e6;
  border-bottom: none;
}

.nav-tabs .nav-link {
  flex: 1;
  text-align: center;
  padding: 10px 20px; 
  background-color: transparent;
  color: #000000; 
  border: none;
}

.nav-tabs .nav-link.active {
  background-color: #e4e4e6;
  color: #000000;
  border: none;
  border-bottom: 3px solid #000000;
}
